nav.main-nav {
    background-color: transparent;
}
.navbar-light .navbar-brand  {
    color: #fecea8;
    font-size: 30px;
}
.navbar-light .navbar-nav .nav-link {
    color: #fecea8;
    font-size: 22px;
}
.collapse ul li a{
    cursor: pointer;
}
@media (max-width: 992px) {
    .coll-bg {
        margin: 0;
        padding: 20px;
        background-color: #fecea8;
        color: #000;
    }
    .navbar-light .navbar-nav .nav-link {
        color: black;
        font-size: 22px;
    }
}