* {
  /* margin-top: 100px; */
  padding: 0;
  color: #f9f9f9;
}
.main-content {
  padding: 100px;
}
.main-content h1{
  width: 100%;
  text-align: center;
}
.row {
  margin-top: 100px; 
  text-align: center;
}
.box {
  display: inline-block;
  padding: 0 20px;
  /* background-color: aquamarine; */
}
.box .image img {
  border-radius: 50%;
  height: 300px;
  width: 300px;
}
.box .text {
  /* background-color: azure; */
  padding: 20px 0;
  text-align: center;
}
.box .text h5 a {
  margin-left: 10px;
}
