
<div class="main-content" height='100%' width='100%'>
  <h1>All Registrations</h1>
  <div class="row">
    <ng-container *ngFor="let p of registrations$  | async; let i=index">
      <div class="col-sm">

          <div class="flip-box">
              <div class="flip-box-inner">
                <div class="flip-box-front">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src={{p.imageURL}} height='240' width='320' alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">{{p.Name}}</h5>
                      <p class="card-text"><p>Yooo, I'm from {{p.Stream}},{{p.Year}}</p>
                      <p class="card-text"><p>Event: {{p.event}}</p>
                    </div>
                  </div>
                </div>
                <div class="flip-box-back">
                  <h2>About</h2><br>
                  {{p.about}}
                </div>
              </div>
            </div>
        
        <div *ngIf="(i+1) % 2 === 0" ></div>
      </div>
    </ng-container>
  </div>  
</div>


