 <div class="row">
  <ng-container *ngFor="let p of registrations$  | async; let i=index">
    <div class="col">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src={{p.imageURL}} alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{p.Name}}</h5>
          <p class="card-text">{{p.about}}</p>
          
          
                  

    

        </div>
      </div>
    </div>
    <div *ngIf="(i+1) % 2 === 0" class="w-100"></div>
  </ng-container>
</div> 

