.full-contain{
    margin-top: 100px;
    color: #fecea8;
    width: 100%;
}
h1{
    padding: 20px;
    width: 100%;
    text-align: center;	
}
.form-container form  {
    padding: 0 15%;
}
.form-container .buttonsave {
    width: 100%;
    text-align: center;
}
*, *::before, *::after {
    box-sizing: border-box;
}
div.input-group-append,
button.btn.btn-light.calendar,
.input-group > .form-control:not(:last-child), .input-group > .custom-select:not(:last-child) {
    margin: 0;
}

label {
    padding-left: 10px;
    font-size: 18px;
}