<div class="main-content">
<table class='table'>
    <thead>
        <tr>
            <th>Event</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of product$ | async">
            <td>{{p.Name}}</td>
            <td>
                <button class="btn btn-light">Edit</button>
            </td>
        </tr>
    </tbody>
</table>
    <p align='center'>
        <a routerLink="/admin/products/new" class="btn btn-dark">Add new Event</a>
    </p>
</div>