<div class="main-content">
<table class='table'>
    <thead>
        <tr>
            <th>Event</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of products$ | async">
            <td>{{p.Name}}</td>
            <td>{{p.dp.day}}.{{p.dp.month}}.{{p.dp.year}}-{{p.dpe.day}}.{{p.dpe.month}}.{{p.dpe.year}}</td>
            <td>
                <button class="btn btn-light" (click)="delete(p.key)">delete</button>
                <button class="btn btn-light" [routerLink]="" (click)="edit(p.key)">Edit</button>
            </td>
        </tr>
    </tbody>
</table>
    <p align='center'>
        <a routerLink="/admin/products/new" class="btn btn-dark">Add new Event</a>
    </p>
</div>