
.main-content {
    color: #fecea8;
    width: 100%;
    padding: 0 15%;
}
.contain {
    text-align: center;;
}
table{
    margin-top: 70px;

    text-align: center;
}
thead{
    background-color: #141429;
    color: #fff;
    border: none;
}
th {
    width: 400px;
}
tbody tr {
    font-weight: bold;
    color: #fecea8;
    transition: 0.5s;
}

tbody tr:hover {
    background-color: #fecea8;
    color: #2a363b;
    border: none;
}
button.c{
    padding: 5px 10px;
    max-width: 200px;
    margin-right: 20px;
    
}

span {
    padding-left: 550px;
    margin-bottom: 90px;
    width: 100%;
    text-align: center;
}
a.b{
    cursor: pointer;
    width: 200px;
    margin-bottom: 90px;
}
.buttonadd {
    width: 100%;
    text-align: center;
}