.main-content {
  padding: 100px;
  color: #f9f9f9;
}
.main-content h1{
  width: 100%;
  text-align: center;
}
.main-row {
  margin-top: 100px;
  text-align: center;
}
.main .list-group a {
  text-decoration: none;
  color: #f9f9f9;
}
.box {
  display: inline-block;
  padding: 0 20px;
}
.box .image img {
  border-radius: 2%;
}
.box .text {
  /* background-color: azure; */
  padding: 20px 0;
  text-align: center;
}
.list-group-item:nth-child(n+0) {
  text-decoration: none;}
  .list-group {
    position: fixed;
  }
  .col-9 {
    margin-left: 250px;
  }
  .list-group a {
    background-color: #2a363b;
    color: #f9f9f9;
    transition: 0.5s;
  }
  .list-group a:hover {
    background-color: #fecea8;
    color: #2a363b;
    transition: 0.5s;
  }
  
  .list-group a.active {
    background-color: #ff847c;
  }
  @media(max-width) 
  {
    .col {
      padding-bottom: 20px;
    }
  }