<div class="row">
  <div class="col-3">
    <div class="list-group">
      <a *ngFor="let c of categories$ | async" routerLink="/products" [queryParams]="{category: c.key}"  class="list-group-item"
      [class.active]="category === c.key">
        {{c.payload.val().name}}
      </a>
    </div>
  </div>
  <div class="col-9">
    <div class="row">
      <ng-container *ngFor="let p of filteredProducts; let i=index">
        <div class="col">


          <div class="flip-box">
            <div class="flip-box-inner">
              <div class="flip-box-front">

                <div class="card" style="width: 20rem;">
                  <img class="card-img-top" src={{p.imageUrl}} height='240' width='320' alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">{{p.Name}}</h5>
                    <p class="card-text">{{p.dp.day}}.{{p.dp.month}}.{{p.dp.year}}-{{p.dpe.day}}.{{p.dpe.month}}.{{p.dpe.year}}</p>                   
                  </div>
                </div>
              </div>
              <div class="about flip-box-back">
                {{p.about}}<br>
                <a routerLink="/register" class="btn btn-light" (click)="setval(p.Name)">Register</a>
              </div>
            </div>
          </div>


        </div>
        <div *ngIf="(i+1) % 2 === 0" ></div>
      </ng-container>
    </div>
  </div>
</div>


