<div class="Body">
  
  <link href="https://fonts.googleapis.com/css?family=Coiny" rel="stylesheet">

  <div class="image-container">
    <ngb-carousel class="carousel-1">
        <ng-template ngbSlide class="item">
          <img src="assets/Yourname.png" alt="Random first slide" width="100%">
          <div class="carousel-caption">
            <h2 class="animated slideInUp">Lorem ipsum</h2>
            <h3 class="animated slideInUp">Lorem ipsum dolor sit amet</h3>
          </div>
        </ng-template>
        <ng-template ngbSlide class="item">
          <img src="assets/k4.jpg" alt="Random second slide" width="100%">
          <div class="carousel-caption">
            <h2 class="animated slideInUp">Lorem ipsum</h2>
            <h3 class="animated slideInUp">Lorem ipsum dolor sit amet</h3>
          </div>
        </ng-template>
        <ng-template ngbSlide class="item">
          <img src="assets/Dog-wallpaper.jpg" alt="Random third slide" width="100%">
          <div class="carousel-caption">
            <h2 class="animated zoomIn">Lorem ipsum</h2>
            <h3 class="animated jackInTheBox">Lorem ipsum dolor sit amet</h3>
          </div>
        </ng-template>
      </ngb-carousel>
  </div>

  <div class="lls">
    <p>Live | Love | Sparkle </p>
    <p id="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
      when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
      It has survived not only five centuries, but also the leap into electronic typesetting, 
      remaining essentially unchanged. It was popularised in the 1960s with the release of 
      Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing 
      software like Aldus PageMaker including versions of Lorem Ipsum.</p><br/>
    <p id="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
        when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
        It has survived not only five centuries, but also the leap into electronic typesetting, 
        remaining essentially unchanged. It was popularised in the 1960s with the release of 
        Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing 
        software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </div>

  <div class="contain">
    <div class="imgs">
      <div class="row">
        <div class="item col-md-4">
          <div class="flip-box">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <img src="assets/pexels-photo.jpg" style="width:400px;height:300px">
              </div>
              <div class="flip-box-back">
                <h2>Project title</h2>
                <button type="button" class="btn btn-info">Project details</button>
              </div>
            </div>
          </div>
        </div>
        <div class="item col-md-4">
          <div class="flip-box">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <img src="assets/soap-bubble.jpg" style="width:400px;height:300px">
              </div>
              <div class="flip-box-back">
                <h2>Project title</h2>
                <button type="button" class="btn btn-info">Project details</button>
              </div>
            </div>
          </div>
        </div>
      <div class="item col-md-4">
        <div class="flip-box">
          <div class="flip-box-inner">
            <div class="flip-box-front">
              <img src="assets/image-a.jpg" style="width:400px;height:300px">
            </div>
            <div class="flip-box-back">
              <h2>Project title</h2>
              <button type="button" class="btn btn-info">Project details</button>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
        <div class="item col-md-4">
          <div class="flip-box">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <img src="assets/butterfly.jpg" style="width:400px;height:300px">
              </div>
              <div class="flip-box-back">
                <h2>Project title</h2>
                <button type="button" class="btn btn-info">Project details</button>
              </div>
            </div>
          </div>
        </div>
        <div class="item col-md-4">
          <div class="flip-box">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <img src="assets/sapling.jpg" style="width:400px;height:300px">
              </div>
              <div class="flip-box-back">
                <h2>Project title</h2>
                <button type="button" class="btn btn-info">Project details</button>
              </div>
            </div>
          </div>
        </div> 
      <div class="item col-md-4">
        <div class="flip-box">
          <div class="flip-box-inner">
            <div class="flip-box-front">
              <img src="assets/wallpaper.jpg" style="width:400px;height:300px">
            </div>
            <div class="flip-box-back">
              <h2>Project title</h2>
              <button type="button" class="btn btn-info">Project details</button>
            </div>
          </div>
        </div>
      </div>
    </div>


    </div>
  </div>

  <div class="footer">
    <div class="black-foot">
      <div class="row">
        <ul class="big link">LINKS</ul>
        <ul class="big social">SOCIAL</ul>
      </div>
      <div class="row">
        <ul>
          <li>HOME</li>
          <li>ABOUT</li>
          <li>LATEST</li>
          <li>WORK</li>
          <li>CONTACT</li>
        </ul>
        <ul>
          <li><img src="" alt="Twitter"></li>
          <li><img src="" alt="Facebook"></li>
          <li><img src="" alt="Instagram"></li>
        </ul>
      </div>
    </div>
  </div>



</div>


