* {
    margin: 0;
    padding: 0;
}
.carousel-slides {
    height: 700px;
    width: 100%;
}
.ngb-carousel {
    width: 100%;
    height: auto;
}
.carousel-caption {
    /* position: absolute; */
    top: 50%;
    transform: translateY(-50%);
}
.carousel-caption h1 {
    font-size: 100px;
}
.carousel-caption p {
    font-size: 30px;
}
.about {
    padding: 70px;
    background-color: black;
}
.about h2 {
    text-align: center;
    padding: 30px;
    color: #e84a5f;
}
.about .p {
    text-align: justify;
    font-size: 20px;
    background: -webkit-linear-gradient(#e84a5f,#ff847c,#fecea8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 30px;
}
.s-social {
    background-color: #fecea8;
    padding: 50px;
}
.s-social .social h4, .eemail h4 {
    width: 100%;
    text-align: center;
}

.s-social .social .row ul {
    width: 100%;
    padding: 70px 150px;
    text-align: center;
}
.s-social .social .row ul li{
    float: left;
    text-decoration: none;
    list-style-type: none;
    width: 20%;
}
.s-social .social .row ul li a{
    color: #000;
    cursor: pointer;
    font-size: 25px;
    transition: 0.5s;
}
.s-social .social .row ul li a:hover{
    font-size: 30px;
    transition: 0.5s;
}

.topages {
    background-color: #fecea8;
    padding: 70px;
}
.topages .links .row ul {
    width: 100%;
    padding: 30px;
    text-align: center;
}
.topages .links .row ul li {
    float: left;
    text-decoration: none;
    width: 25%;
    list-style-type: none;
}
.topages .links .row ul li a{
    color: black;
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s;
    text-align: center;
}
.topages .links .row ul li a:hover {
    font-size: 25px;
    transition: 0.5s;
}
.s-social h6 i{
    padding-left: 5px;
}
.eemail {
    padding: 70px 300px;
    width: 100%;
    text-align: center;
}
.eemail h6 {
    padding: 10px 0;
}
.eemail .input-group{
    padding: 10px;
    text-align: center;
}
.eemail .input-group input,.eemail .input-group textarea {
    text-indent: 20px;
}

.send-button {
    width: 100%;
    padding: 30px;
}
.send-button button {
    background-color: #2a363b;
    color: #fecea8;
    padding: 10px 25px;
}





@media (max-width: 1000px)
{
    .eemail {
        padding: 70px 150px;
    }
}
@media(max-width: 700px)
{
    .about .p {
        padding: 0;
    }
    .eemail {
        padding: 50px;
    }
    .carousel-caption h1 {
        font-size: 70px;
    }
    .carousel-caption p {
        font-size: 20px;
    }
}
@media (max-width: 600px) 
{
    .s-social .social .row ul li{
        clear: both;
        text-decoration: none;
        list-style-type: none;
        width: 100%;
        padding: 20px;
    }
    .carousel-caption h1 {
        font-size: 60px;
    }
    .carousel-caption p {
        font-size: 30px;
    }
}
@media (max-width: 500px)
{
    .topages .links .row ul li {
        clear: both;
        text-decoration: none;
        width: 100%;
        list-style-type: none;
        text-align: center;
        padding: 20px;
    }
    .eemail {
        padding: 30px;
    }
    .carousel-caption h1 {
        font-size: 50px;
    }
    .carousel-caption p {
        font-size: 30px;
    }
}
@media(max-width: 430px)
{
    .about {
        padding: 30px;
    }
    .s-social {
        padding: 50px 10px;
    }
    .eemail {
        padding: 0;
    }
}