
<body>
<div class='box'>
  <h1>Register</h1>
  <form #f1="ngForm" (ngSubmit)="saveus(f1.value)">

    <div class="form-group">
      <label for="Name">Name</label>
      <input #Name="ngModel" ngModel name="Name" id="Name" type="text" class="form-control" required>
      <div class="alert alert-danger" *ngIf="Name.touched && Name.invalid">
        Name is Required
      </div> 
    </div>

    <div class="form-group">
      <label for="Stream">Stream</label>
      <select class="form-control" #Stream="ngModel" ngModel name="Stream" id="Stream" required>
        <option>CSE</option>
        <option>IT</option>
        <option>ME</option>
        <option>ECE</option>
        <option>CE</option>
        <option>EE</option>
      </select>
    </div>

    <div class="form-group">
      <label for="Email">Email</label>
      <input #Email="ngModel" ngModel name="Email" id="Email" type="email" class="form-control" required>
      <div class="alert alert-danger" *ngIf="Email.touched && Email.invalid">
        Email is Required
      </div>
    </div>


    <div class="form-group">
      <label for="Phone">Phone Number</label>
      <input maxlength="10" #Phone="ngModel" ngModel name="Phone" id="Phone" type="number" class="form-control" required>
      <div class="alert alert-danger" *ngIf="Phone.touched && Phone.invalid">
        Phone Number is Required
      </div>
    </div>

    <div class="form-group">
      <label for="Year">Year</label>
      <select class="form-control" #Year="ngModel" ngModel name="Year" id="Year">
        <option>1st Year</option>
        <option>2nd Year</option>
        <option>3rd Year</option>
        <option>4th Year</option>
      </select>
    </div>

    <div class="form-group">
      <label for="about">About</label>
      <textarea maxlength="180" class="form-control" id="about" name="about" ngModel #about="ngModel" rows="3"></textarea>
    </div>
  
    <div class="form-group">
      <label for="image">Image</label>
      <input id="imageid" type="file" (change)="featuredPhotoSelected($event)" name="image" class="form-control" >
    </div>
    <button class="btn btn-success">Save</button>

  </form>


</div>

  
</body>