.main-content {
    position:absolute;
    height: 555px;
    background: url('https://us.123rf.com/450wm/crazyass/crazyass1602/crazyass160200025/54248995-blur-abstract-bokeh-of-street-city-night-light-background-abstract-traffic-background-black-and-whit.jpg?ver=6');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    color: #fff;
}
table{
    margin: 50px;
    margin-left: 180px;
    margin-top: 70px;
    width: 70%;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
thead{
    background-color: #141429;
    color: #fff;
    border: none;
}
th {
    width: 400px;
}
tbody tr:hover {
    background-color: #ddd;
    color: black;
    border: none;
}

.btn{
    position: relative;
    width: 200px;
    box-shadow: 5px 5px 20px #A6A5AC;
}