.main-content {
    width: 100%;
    color: #fecea8;
}
table{
    width: 100%;
    margin-top: 100px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
thead{
    background-color: #141429;
    border: none;
    font-size: 20px;
    color: #fecea8;
}
th {
    width: 400px;
}
tbody tr {
    color: #fecea8;
    transition: 0.5s;
}
tbody tr:hover {
    background-color: #fecea8;
    color: #2a363b;
    border: none;
    transition: 0.5s;
}
td{
    font-size: 17px;
}