<div class="main-content">
    <table class='table'>
        <thead>
            <tr>
                <th>Name</th>
                <th>Event</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Skills</th>
                <th>Stream</th>
                <th>Year</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of  registrations$ | async">
                <td>{{p.Name}}</td>
                <td>{{p.event}}</td>
                <td>{{p.Email}}</td>
                <td>{{p.Phone}}</td>
                <td>{{p.about}}</td>
                <td>{{p.Stream}}</td>
                <td>{{p.Year}}</td>
                <td><img class="card-img-top" src={{p.imageURL}} height='100' width='100' alt="Card image cap"></td>
                                
            </tr>
        </tbody>
    </table>
    </div>